<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode</title>
</head>
<body>
    <h1>Random passcode</h1>
        <h2>Passcode #@ViewBag.Count</h2>
        <h2>@ViewBag.Passcode</h2>
    <a href=""><button>Generate</button></a>
    <a href="/clear"><button>Clear</button></a>
</body>
</html>